{% extends 'base.html.twig' %}
{% block body %}
    <div class="header">
        <a href="{{ path('admin_logout') }}" class="logout">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg xmlns="http://www.w3.org/2000/svg" id="svg1" viewBox="0 0 60 60" y="0" x="0">
                <path id="path696" style="fill-rule:evenodd;fill:#0288d1" transform="matrix(.95176 0 0 .95176 1.448 1.5234)" d="m37.875 10.719v8.219c6.368 3.37 9.988 10.454 8.719 17.75-1.419 8.156-8.472 14.011-16.75 13.937-8.279-0.074-15.228-6.101-16.5-14.281-1.124-7.228 2.496-14.194 8.781-17.5v-8.094c-8.321 2.854-14.296 9.88-16 18.125-0.5746 2.781-0.6446 5.686-0.1875 8.625 1.8285 11.757 11.946 20.549 23.844 20.656 11.897 0.107 22.179-8.496 24.218-20.218 2.039-11.723-4.765-23.27-16-27.188-0.042-0.015-0.082-0.018-0.125-0.031z"/>
                <path id="path701" style="stroke-linejoin:round;stroke:#0288d1;stroke-linecap:round;stroke-width:7.9794;fill:none" transform="matrix(.93992 0 0 .93992 1.776 3.8193)" d="m30.029 3.2505v26.078"/>
            </svg>
        </a>
    </div>
    <div class="clear"></div>
{% endblock %}