<div class="post">
    <div class="post__title">{{ post.title }}</div>
    <div class="post__perex">{{ post.perex }}</div>
    <div class="post__read-more"><a href="{{ url('post_detail', {'slug': post.slug}) }}"> Read more >>></a></div>
</div>